**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv("dataframe/movies.csv")
ratings = pd.read_csv("dataframe/ratings.csv")
rate = ratings[ratings.rating == 5]
movies.title[rate.groupby(['movieId'])['rating'].count().head(1)]

13506    The Inhabited Island (2008)
Name: title, dtype: object

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
data = pd.read_csv('power.csv')

In [4]:
filtered = data.query('country == ["Latvia", "Lithuania", "Estonia"] and category == [4, 12, 21] and year >= 2005 and year <= 2010 and quantity > 0')
filtered['quantity'].sum()

240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [54]:
df=pd.read_html('https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%BD%D0%B4%D0%B5%D0%BC%D0%B8%D1%8F_COVID-19')[1]
df

,Пандемия COVID-19,Пандемия COVID-19.1
0,Медсестра готовит больного COVID-19 пациента к...,Медсестра готовит больного COVID-19 пациента к...
1,NaN,NaN
2,NaN,NaN
3,NaN,NaN
4,NaN,NaN
5,Карта подтверждённых случаев на душу населения...,Карта подтверждённых случаев на душу населения...
6,Карта общего количества подтверждённых случаев...,Карта общего количества подтверждённых случаев...
7,Карта подтверждённых смертей на душу населения...,Карта подтверждённых смертей на душу населения...
8,Эпидемиологическая кривая,Эпидемиологическая кривая
9,Болезнь,COVID-19
10,Возбудитель,SARS-CoV-2
11,Место начала,"Ухань, Хубэй, Китай30°37′11″ с. ш. 114°15′28″ ..."
12,Дата начала,8 декабря 2019(10 месяцев 28 дней)[1]
13,Подтверждённых случаев,по состоянию на 26.09.2020 (14:30 по GMT): 32 ...
14,Активных случаев,по состоянию на 26.09.2020 (14:30 по GMT): 7 6...
15,В лёгком состоянии,по состоянию на 26.09.2020 (14:30 по GMT): 7 5...
16,В тяжёлом и критическом состоянии,по состоянию на 26.09.2020 (14:30 по GMT): 63 ...
17,Выздоровело,по состоянию на 26.09.2020 (14:30 по GMT): 24 ...
18,Смертей,по состоянию на 26.09.2020 (14:30 по GMT): 994...
19,Поражённых стран и территорий,по состоянию на 26.09.2020 (14:30 по GMT): 215...
20,Медиафайлы на Викискладе,Медиафайлы на Викискладе

**Задание 4**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [24]:
def clas(rate) :
    if rate<=2 :return('low')
    if 2<rate<=4 :return('mid')
    if rate>=4.5 :return('high')

In [25]:
rating = pd.read_csv("dataframe/ratings.csv")
rating['class']=rating['rating'].apply(clas)
rating.head()

   userId  movieId  rating   timestamp class
0       1      296     5.0  1147880044  high
1       1      306     3.5  1147868817   mid
2       1      307     5.0  1147868828  high
3       1      665     5.0  1147878820  high
4       1      899     3.5  1147868510   mid

**Задание 5**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [5]:
dat=pd.read_csv('keywords.csv')
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
def geo(str):
    for i in str.split(' '):
        if i in geo_data['Центр'] :return('Центр')
        elif i in geo_data['Северо-Запад']: return('Северо-Запад')
        elif i in geo_data['Дальний Восток']: return('Дальний Восток')
    return('undefined')
dat['region']=dat['keyword'].apply(geo)
dat.tail(10)

                          keyword  shows     region
99990           сколько лет обаме   3799  undefined
99991                сергей жорин   4056  undefined
99992    остаться в живых 5 сезон   3696  undefined
99993  петростат официальный сайт   3634  undefined
99994      мк газета свежий номер   3750  undefined
99995      эльдорадо старый оскол   3705  undefined
99996         frigate для firefox   3630  undefined
99997                      укрсиб   3630  undefined
99998     погода в ялте на неделю   3688  undefined
99999                        ггму   3630  undefined

**Задание 6**
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [22]:
join = ratings.merge(movies, how='left')
rating = join.groupby('title').mean().reset_index()[['title', 'rating']]
rating.head()

                                               title    rating
0  "BLOW THE NIGHT!" Let's Spend the Night Togeth...  3.000000
1                   "Great Performances" Cats (1998)  2.896648
2                         #1 Cheerleader Camp (2010)  2.111111
3                                   #Captured (2017)  3.750000
4                            #Female Pleasure (2018)  3.666667

In [44]:
years = [str(i) for i in range(1950,2010)]
def production_year(title):
    for year in years:
        if str(year) in title :return(year)
    return('1900')
rating['year']=rating['title'].apply(production_year)
rating.sort_values('rating', ascending=False).head(10)

                                title  rating  year
18213            Full of Grace (2015)     5.0  1900
18663                  Geordie (1955)     5.0  1955
18508     Garfield In Paradise (1986)     5.0  1986
28687               Lost Woods (2012)     5.0  1900
18509    Garfield in the Rough (1984)     5.0  1984
28684                Lost Time (2014)     5.0  1900
57203  Who Killed Chea Vichea? (2010)     5.0  1900
28677              Lost Rivers (2013)     5.0  1900
57206        Who Killed Johnny (2013)     5.0  1900
18605   Generation Baby Buster (2011)     5.0  1900