**Задание 1**

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [2]:
import pandas as pd
ratings=pd.read_csv('ml-latest-small/ratings.csv')
sr=ratings.groupby('userId').count()
sr=sr.loc[sr['rating']>100]
sr.head()

        movieId  rating  timestamp
userId
4           204     204        204
8           116     116        116
15         1700    1700       1700
17          363     363        363
19          423     423        423

In [66]:
time=ratings.groupby('userId').agg(['min', 'max'])['timestamp']
time['diff']=time.apply(lambda time: time['max']-time['min'],axis=1)
time.head()

               min         max    diff
userId
1       1260759108  1260759205      97
2        835355395   835356246     851
3       1298861589  1298932787   71198
4        949778714   949982274  203560
5       1163373044  1163375145    2101

In [67]:
sr.join(time)['diff'].mean()

40080507.4496124

**Задание 2**

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:
1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [41]:
dat=pd.read_csv('URLs.txt')
dat=dat.loc[dat['url'].str.contains(r'/\d{8}-')]
dat

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

**Задание 3**
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [1]:
from pymystem3 import Mystem
m = Mystem()
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
def lemm(row):
    lemm=row["keyword"]
    return m.lemmatize(lemm)

data["lemmas"]= data.apply(lemm,axis=1)
print(data)

                 keyword   shows                                 lemmas
0    курс гривны к рублю  125076  [курс,  , гривна,  , к,  , рубль, \n]
1        доллары в рубли  114173           [доллар,  , в,  , рубль, \n]
2  100 долларов в рублях   97534   [100,  , доллар,  , в,  , рубль, \n]
3             курс рубля   53546                   [курс,  , рубль, \n]